$black: hsl(0, 0%, 4%);
$slade: hsl(217.2, 32.6%, 17.5%);
$white: hsl(0, 0%, 100%);
$amber: hsl(32, 95%, 44%);
$accentAmber: hsl(43, 96%, 56%);
$red: hsl(0, 62.8%, 30.6%);
$accentRed: hsl(0, 87%, 37%);